<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <!-- Bootstrap -->
    <link href="theme.scss" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans:800" rel="stylesheet">



    {{ content_for_header }}

    <script type="text/javascript">
      NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
    </script>
  </head>
  <body class="aware-theme v2-theme {{ page.page_class_name }} page-{{ request.template | replace: '_', '-' }} js">

    {% include "nav" %}


    {% unless page.type_name == "Donation (v2)" %}
    {% if site.has_header_image? and page.features_count == 0 %}
    <div class="container header-image-container">
     <img src="{{ site.header_image_url_1026 }}" class="header-image img-responsive" border="0" />
    </div>
    {% endif %}
    {% endunless %}

    {% if page.features_count > 0 %}
      <div class="container">
       {% include "features" %}
      </div>
    {% endif %}

    <div class="main-container" id="middle">
      <div class="main container-fluid px-0 clearfix {% if site.has_background_image? %}well well-lg{% endif %}">

        {% if request.is_sidebar? %}
        {% include "columns_2" %}
        {% else %}
        {% include "columns_1" %}
        {% endif %}

      </div>
      <!-- .main -->
    </div>
    <!-- .main-container -->

    <footer>
      <div class="container-fluid {% if site.has_background_image? %}well well-lg{% endif %}">

        {{ content_for_footer }}

        {% if site.footer_content.size > 0 %}
        <div class="footer-text">{{ site.footer_content }}</div>
        <hr/>
        {% endif %}

        <div class="row">

          <div class="col-md-6 footer-left">
            {% if request.logged_in? %}
              Hi <a href="{{ request.current_signup.settings_url }}">{{ request.current_signup.name_or_email }}</a>. View your
              {% if site.show_public_profiles? %}
                <a href="{{ request.current_signup.profile_url }}">public profile</a>,
              {% endif %}
              <a href="{{ request.current_signup.settings_url }}">account settings</a>, or
              <a href="{{ request.current_signup.logout_url }}">sign out</a>.
            {% else %}
              Sign in with <a href="{{ request.facebook_connect_url }}">Facebook</a>, <a
                  href="{{ request.twitter_connect_url }}">Twitter</a> or <a href="/login">email</a>.
            {% endif %}
          </div>
          <div class="col-md-6 footer-right text-right">
            <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
                 You can style it or move it in different ways, but please leave it in the footer. -->
            Created with <a href="http://nationbuilder.com/">NationBuilder</a>
          </div>

        </div>
      </div>
      <!-- container -->
    </footer>

    {% if site.has_background_image? %}
      <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
      <script type="text/javascript">
        jQuery.backstretch("{{ site.background_image_url }}", {speed: 0});
      </script>
      <![endif]-->
      <style>
        body {
          background: url('{{ site.background_image_url }}') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>
    {% endif %}

    <script src="bootstrap.js"></script>

  </body>
</html>
