// custom styles - Will Flourance, Decemeber 2018

// font designations

body{
	font-family: "Lato", sans-serif !important;
	font-size: 18px !important;
}

h1, h2, h3 {
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
}

h1{
font-size: 48px !important;

}

p{
	font-family: "Lato", sans-serif !important;
	font-size: 24px !important;
}


// navbar layout & styles




.navbar-nav{
	margin-top: 35px;
	float: right;
	letter-spacing: 3px;
}


.navbar-nav>li>a{
	font-size: 16px;
}

.navbar-brand>img{
	max-width: 350px;
}



// responsive images

.img-fluid{
width: 100%;
}

//padding designations

.px-0{
	padding-left: 0px;
	padding-right: 0px;
}

.px-1{
	padding-left: 2em;
	padding-right: 2em;
}

//background colors
